#contact iframe
{
    width: 100%;
}
.profile_mainDiv{
    border: 1px solid lightgray;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.profile_mainDiv img{
    width: 100%;
}
.profile_mainDiv hr{
    width: 230px; 
}
.profile_mainDiv h5,.profile_mainDiv p{
    margin-left: 20px;
}
.movie_head {  
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.achievement_head i {
    float: right;
}
.achievement_text span {
    color:rgb(241, 238, 68);
}
.profile_mainDiv {
    align-content: center;
}